* {
    box-sizing: border-box;
}


/* BASIC */

body {
    margin: 0;
    background-color: rgb(252, 130, 93);
}

h1 {
    margin: 0;
    font-size: 22px;
}


/* HEADER */

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 169, 42);
}

header input {
    border-radius: 4px;
    height: 30px;
    padding: 0.5em;
    font-size: 1.2em;
    border: none;
    transition: 0.5s;
}

header input:focus {
    background-color: antiquewhite;
    padding: 0.5em 1em;
}

header button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}


/* MAIN-CONTENT */

.main-content {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    gap: 30px;
}


/* MAP */

.map-container {
    width: 65%;
    height: 75vh;
}

/* INFO */
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
    height: 75vh;
}

/* WEATHER */

.weather-container {
    background-color: aqua;
    height: 50%;
    padding: 10px;
}


/* LOCATIONS */

.locations-table {
    background-color: rgb(65, 131, 78);
    
    padding: 10px;

}
.locs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.location{
    display: flex;
    width: 100%;
    background-color: aquamarine;
    padding: 7px;
    justify-content: space-between;
}